//Color Schemes

$honeydew: #F1FDF3;
$harp: #E5F4E7;
$surf-crest: #D1E9D2;
$green-spring: #99CDA9;
$dark-jungle: #231E23;

// Typography
//Font Families
$noto: 'Noto Sans JP', sans-serif;

// Typography
// Font Weight
$font-regular: 400;
$font-bold: 700;
$font-black: 900;

// Typography
// Font Sizes
$xxxx-large: 4.375em;
$xxx-large: 3.125em;
$xx-large: 1.875em;
$x-large: 1.25em;
$large: 1.125em;
$medium: 1em;
$small: .875em;
$x-small: .75em;