.article {
    width: 80%;

    .article__grid-container {
        width: 100%;
        cursor: pointer;

        .article__grid-title {
            font-size: $x-large;
            font-weight: $font-bold;
        }

        .article__grid-image {
            width: 100%;
            object-fit: cover;
        }

        .article__grid-text {
            padding: 5px 10px;
            font-size: $medium;
        }
    }
}

@media only screen and (max-width:991px) {
    .article {
        width: 100%;
    }

    .article__grid-image {
        height: 200px;
    }

}